@media screen and (max-width: 1199px) {
/* -------------------------------------------------------------------------- */
/*                     media query para celular y tablet                    */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                         body y contenedor principal                        */
/* -------------------------------------------------------------------------- */

body{
    background-color: #18222d;
}

.flexContainer{
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    align-items: center;
    margin: auto;
    padding-bottom: 100px;
}

/* -------------------------------------------------------------------------- */
/*                                logo landing                                */
/* -------------------------------------------------------------------------- */

#home{
    visibility: hidden;
    display: flex;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    width: 100%;
    height: 100%;
    z-index: 10;
    align-items: center;
    justify-content: center;
    transition: background-color 500ms, visibility 500ms, opacity 500ms linear;
}


#home:target{
    display: flex;
    visibility: visible;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    width: 100%;
    height: 100%;
    z-index: 10;
    align-items: center;
    justify-content: center;
} 

#home:target img{
    width: 100%;
}

#home img{
    width: 100%;
}

/* -------------------------------------------------------------------------- */
/*                               tarjetas chicas                              */
/* -------------------------------------------------------------------------- */

.card{
    pointer-events: none;
    cursor: default;
}

.card img{
    position: relative;
    min-width: 100px;
    width: 80vw;
}

/* -------------------------------------------------------------------------- */
/*                  tarjetas ampliadas anuladas, pues mobile                  */
/* -------------------------------------------------------------------------- */

.card-ampliada{
    display: none;
}

/* -------------------------------------------------------------------------- */
/*        diferenciando navegadores que no soportan backdrop-filter           */
/* -------------------------------------------------------------------------- */

@supports not (backdrop-filter: blur(15px)) {
    #home:target {
        background-color: rgba(0,0,0,.9);
    }
}
}



/* -------------------------------------------------------------------------- */
/*                          media query para desktop                          */
/* -------------------------------------------------------------------------- */


@media screen and (min-width: 1200px) {

/* -------------------------------------------------------------------------- */
/*                         body y contenedor principal                        */
/* -------------------------------------------------------------------------- */

body{
    background-color: #18222d;
}

.flexContainer{
    position: relative;
    top: 8vh;
    width: 80%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin: auto;
    padding-bottom: 8vh;
}

/* -------------------------------------------------------------------------- */
/*                                logo landing                                */
/* -------------------------------------------------------------------------- */

#home{
    visibility: hidden;
    display: flex;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    width: 100%;
    height: 100%;
    z-index: 10;
    align-items: center;
    justify-content: center;
    transition: background-color 500ms, visibility 500ms, opacity 500ms linear;
}


#home:target{
    display: flex;
    visibility: visible;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    width: 100%;
    height: 100%;
    z-index: 10;
    align-items: center;
    justify-content: center;
} 

/* -------------------------------------------------------------------------- */
/*                               tarjetas chicas                              */
/* -------------------------------------------------------------------------- */

.card{
    position: relative;
    filter: grayscale(100%);
    transition: all 200ms;
}

.card img{
    position: relative;
    min-height: 100px;
    height: 20vh;
    padding-left: 5px;
}

.card:hover{
    transform: scale(1.3);
    z-index: 10;
    max-width: 600px;
    filter: grayscale(0%);
}

/* -------------------------------------------------------------------------- */
/*                             tarjetas ampliadas                             */
/* -------------------------------------------------------------------------- */

.card-ampliada{
    position: fixed;
    top: -100%;
    width: 100%;
    background: rgba(0,0,0,.7);
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.card-ampliada img {
    margin: auto;
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    max-height: 0%;
    max-width: 0%;
    box-shadow: 0px 0px 8px rgba(0,0,0,.3);
    box-sizing: border-box;
    transition: 200ms ease-in-out;
}

.card-ampliada:target {
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.card-ampliada:target img {
    max-height: 90%;
    max-width: 95%;
}


/* -------------------------------------------------------------------------- */
/*                                   flechas                                  */
/* -------------------------------------------------------------------------- */

.arrowLeft{
    transform: scale(1.7);
    color: aliceblue;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 14px;
}

.arrowRight{
    transform: scale(1.7);
    color: aliceblue;
    text-decoration: none;
    position: absolute;
    top: 50%;
    right: 14px;
}


/* ------------------------------------------------------------------------------ */
/*    media query para diferenciar navegadores que no soportan backdrop-filter    */
/* ------------------------------------------------------------------------------ */

@supports not (backdrop-filter: blur(15px)) {
    #home:target {
        background-color: rgba(0,0,0,.9);
    }

    #home:target img{
        filter: blur(5px);
        transition: filter 250ms;
    }
    
    #home:target img:hover{
        filter: blur(0);
    }

}

}